/* Variables del proyecto */
.font-black {
  color: black; }

.font-title {
  color: #494949; }

.font-body {
  color: #383838; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(./Imagenes/background-img.jpg); }

header {
  grid-area: logo;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  header div #logo {
    height: auto;
    width: auto;
    object-fit: contain;
    max-width: 100px;
    background-color: white;
    transition: all 0.5s; }
    header div #logo:hover {
      scale: 2;
      transform: translateY(30px); }

nav {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: navegacion; }
  nav ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: capitalize; }
    nav ul #desplegable {
      display: none;
      background-color: white; }
    nav ul a {
      text-decoration: none;
      transition: all 0s; }
      nav ul a:hover {
        color: darksalmon; }

.submenu {
  display: flex;
  flex-direction: column; }
  .submenu:hover #desplegable {
    position: absolute;
    margin-top: 25px;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.nav__enlaces a {
  font: 600 20px "Merriweather";
  text-decoration: none;
  color: black;
  transition: all 0s; }

footer {
  grid-area: footer;
  background-color: white;
  /*background-color: #FDEEDC;*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: small bolder italic; }
  footer div {
    display: flex;
    justify-content: space-evenly; }
  footer img {
    transition: all 0.5s; }
    footer img:hover {
      scale: 2; }

.section__title {
  text-align: center;
  font-size: xx-large;
  color: #494949; }

.section__body {
  font-size: 15px;
  color: #383838;
  font-weight: 550; }

.encabezadosFuente {
  font-family: 'Merriweather', serif; }

.cuerpoFuente {
  font-family: 'Source Serif Pro', serif; }

.cuerpoFuente--main {
  font-family: 'Source Serif Pro', serif;
  font-size: 40px;
  font-weight: 700; }

/*Agrego las animaciones*/
header, nav {
  animation-duration: 1s;
  animation-name: entrada;
  animation-iteration-count: 1; }

@keyframes entrada {
  from {
    transform: translateY(-200px); }
  to {
    transform: translateY(0px); } }

.submenu:hover #desplegable {
  animation-duration: 0.5s;
  animation-name: desplegar;
  animation-iteration-count: 1; }

@keyframes desplegar {
  from {
    height: 0px; }
  to {
    height: 300px; } }

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    width: 100%; }
    footer p {
      width: 50%; }
  .footer__redes {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    justify-self: end; }
  .submenu:hover #desplegable {
    width: auto;
    padding: 10px; } }
