@import "vars-gral";
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Imagenes/background-img.jpg);
}

header{
    grid-area: logo;
    background-color: $menuColor;
    @include boxsize($full-size,$full-size);
    display: flex;
    justify-content: center;
    align-items: center;
    div #logo{
        height: auto;
        width: auto;
        object-fit:contain;
        max-width: 100px;
        background-color:$menuColor;
        transition: all 0.5s;
        &:hover{
            scale: 2;
            transform: translateY(30px);
        }
    }
}
nav{
    @include boxsize($full-size,$full-size);
    background-color: $menuColor;
    grid-area: navegacion;
    ul{
        display: flex;
        @include boxsize($full-size,$full-size);
        align-items: center;
        justify-content: space-around;
        list-style: none;
        text-transform: capitalize;
        #desplegable{
            display: none;
            background-color: $menuColor;
        }   
        a{
            text-decoration: none;
            transition: all 0s;
            &:hover{
                color: $font-hover;
            }
        }
            
        }
    }
.submenu{
    display: flex;
    flex-direction: column;
    &:hover #desplegable {
        position: absolute;
        margin-top: 25px;
        width:$full-size/2;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
}
.nav__enlaces a{
    font: $font-nav;
    text-decoration: none;
    color: map-get($font-colors, black );
    transition: all 0s;
    
}

footer{
    grid-area: footer;
    background-color: $menuColor;
    /*background-color: #FDEEDC;*/
    display: flex;
    @include boxsize($full-size,$full-size);
    justify-content: center;
    align-items: center;
    text-align: center;
    font: $font-footer;
    div{
        display: flex;
        justify-content: space-evenly;
    }
    img{
        transition: all 0.5s;
        &:hover{
            scale: 2;
        }
    }
}
.section__title{
    @extend .font-title;
    text-align: center;
    font:$font-title;
}
.section__body{ 
    @extend .font-body;
    font:$font-body;
}
.encabezadosFuente{
    font-family: $family-encabezado;
}

.cuerpoFuente{
    font-family: $family-body;

}

.cuerpoFuente--main{
    font:$font-title;
}

/*Agrego las animaciones*/

header,nav{
    animation-duration: 1s;
    animation-name: entrada;
    animation-iteration-count: 1;
}

@keyframes entrada{
    from{
        transform: translateY(-200px)
        
    }

    to{
        transform: translateY(0px);
    }
}

.submenu:hover #desplegable{
    animation-duration: 0.5s;
    animation-name: desplegar;
    animation-iteration-count: 1;
}

@keyframes desplegar {
    from{
        height: 0px;
    }
    to{
        height: 300px;
    }    
}
@media screen and (min-width:768px) {

     footer{
         display: flex;
         width: $full-size;
         p{
            width: $full-size/2;
        }
         
     }
     .footer__redes{
         width: $full-size/2;
         display: flex;
         justify-content: space-evenly;
         justify-self:end;
     }
     .submenu:hover #desplegable{
         width: auto;
         padding: 10px;
     }
 }
