/* Variables del proyecto */
$full-size: 100%;
$menuColor: white;
$font-nav: 600 20px 'Merriweather';
$font-hover: darksalmon;
$font-body:  550 20px 'Source Serif Pro', serif;
$font-title: italic 700 40px 'Merriweather', serif;
$font-footer: italic bolder 15px 'Source Serif Pro', serif ;
$family-encabezado:'Merriweather', serif;
$family-body:'Source Serif Pro', serif;
$font-colors:(black:black,title:rgb(73, 73, 73),body:rgb(56, 56, 56));
@each $name-color,$color in $font-colors{
    .font-#{$name-color}{
        color:$color;
    }
}
@mixin boxsize($width,$height){
    width: $width;
    height: $height;
}