*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background-img.jpg);
}

nav ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    list-style: none;
}
nav{
    width: 100%;
    height: 100%;
    background-color: white;
}
header{
    grid-area: logo;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div #logo{
    height: auto;
    width: auto;
    object-fit:contain;
    max-width: 100px;
}



#logo{
    /*background-color: #FDEEDC;*/
    background-color:rgb(255, 255, 255);
}
nav{
    grid-area: navegacion;
}

footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    /*background-color: #FDEEDC;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    font-weight: bolder;
    font-style: italic;
}
footer div{
    display: flex;
    justify-content: space-evenly;
}

#desplegable{
    display: none;
    background-color: white;
    height: 0px;
    transition: height 1s;
}
#desplegable li{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
}

#desplegable li a{
    text-decoration: none;
    color: black;
}

.submenu:hover #desplegable {
    position: absolute;
    margin-top: 25px;
    height: 400px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.submenu{
    display: flex;
    flex-direction: column;
}
#desplegable a{
    font-size: 20px;
    transition: all 0s;
}

.nav__enlaces a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0s;
}
.nav__enlaces a:hover{
    scale: 1.2;
    color: darksalmon;
}
#desplegable a:hover{
    scale: 1.2;
    color: darksalmon;
}

.section__title{
    text-align: center;
    font-size: xx-large;
    color: rgb(73, 73, 73);
}
.section__body{
   
    font-size: 15px;
    color: rgb(56, 56, 56);
    font-weight: 550;

}
.encabezadosFuente{
    font-family: 'Merriweather', serif;
}

.cuerpoFuente{
    font-family: 'Source Serif Pro', serif;

}

.cuerpoFuente--main{
    font-family: 'Source Serif Pro', serif;
    font-size:40px;
    font-weight: 700;
}

footer img{
    transition: all 0.5s;
}

footer img:hover{
    scale: 2;
}

header img{
    transition: all 0.5s;
}

header img:hover{
    scale: 2;
    transform: translateY(30px);
}

/*Agrego las animaciones*/

header,nav{
    animation-duration: 1s;
    animation-name: entrada;
    animation-iteration-count: 1;
}

@keyframes entrada{
    from{
        transform: translateY(-200px)
        
    }

    to{
        transform: translateY(0px);
    }
}
/*
#desplegable{
    animation-duration: 1.5s;
    animation-name: desplegar;
    animation-iteration-count: 1;
}

@keyframes desplegar {
    from{
        height: ;
    }
    to{
        scale:1;
    }    
}*/
@media screen and (min-width:768px) {

     footer{
         display: flex;
         width: 100%;
         
     }
     footer p{
         width: 50%;
     }
     .footer__redes{
         width: 50%;
         display: flex;
         justify-content: space-evenly;
         justify-self:end;
     }
     .submenu:hover #desplegable{
         width: auto;
         padding: 10px;
     }
 }
