article{
    position: relative;
    top: 150px;
}

h1{
    text-align: center;
}

fieldset{
    position: relative;
    top: 50px;
    left: 407.5px;
    width: 500px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(56, 55, 55);
}

fieldset div{
    justify-content: center;
    text-align: center;
}

.fondo-contacto{
    background-image: url(../Imagenes/fondo-contacto.jpg);
}
