#grid{
    display: grid;
    height: 100%;
    grid-template-areas: 
        "logo"
        "navegacion"
        "aside"
        "article"
        "footer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 120px 100px 1fr 1fr 150px;
    justify-items: center;
    align-items: center;
}

aside{
    grid-area: aside;
    display: flex;
}
aside img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 330px;

}

article{
    grid-area: article;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    gap: 30px;

}
article p{
    text-align:justify;
    line-height: 30px;
    padding: 15px;
}

@media screen and (min-width:768px) {

    #grid{ 
     
         grid-template-areas: 
             "logo navegacion"
             "article aside"
             "footer footer"
             ;
 
         grid-template-rows: 150px auto 150px;
         grid-template-columns: 1fr 1fr;
         gap: 50px;
     }
     article,aside,header,nav{
         padding: 25px;
         margin-top: 50px;
     } 
     footer{
         display: flex;
         width: 100%;
         
     }
     footer p{
         width: 50%;
     }
     .footer__redes{
         width: 50%;
         display: flex;
         justify-content: space-evenly;
         justify-self:end;
     }
     .submenu:hover #desplegable{
         width: auto;
         padding: 10px;
     }
 }