@import "vars-gral";
#grid-gal{
    display: grid;
    grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer"
    ;
    grid-template-columns: $full-size;
    grid-template-rows: 120px 100px auto 150px;
}

header{
    grid-area: header;
}
nav{
    grid-area: navigation;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    h2, p, #first-img{
    animation-duration: 1s;
    animation-name: entrada-galeria;
    animation-iteration-count: 1;
    }
    
    p{
        line-height: 30px;
        text-align: justify;
    
    }
    img{
        width: $full-size;
        height: 300px;
        object-fit: contain;
        background-color: map-get($font-colors, img);
        border: $borde-img;
        transition: all 0.5s;
        &:hover{
            scale: 1.1;
        }
    }
    div {
        div{
        display: flex;
        flex-direction: column;
            label{
                justify-self: flex-end;
                align-self: flex-end;
            }
        }
    }


}
main>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer{
    grid-area: footer;
}

.section__body--largo{
    color: map-get($font-colors, body);
    font: $font-body;
    text-align: left;
}


@keyframes entrada-galeria {
    from{
        transform: translateY(1500px);
    }
    to{
        transform: translateY(0px);
    }
}

@media screen and (min-width:768px) {
    
    #grid-gal{
        display: grid;
        grid-template-areas: 
            "header navigation"
            "main main"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 120px auto 150px;
    }
    
    main{
        margin-top: 50px;
        margin-bottom: 50px;
        img{
            object-fit: contain;
            background-color: map-get($font-colors, img );
            border: $borde-img;
            height: 500px;
        }
        p{
            width: 70%;
            align-self: center;
            line-height: 40px;
        }
        h2{
            width: 70%;
            align-self: center;
        }
        #img3{
            @include boxsize($full-size/2.5,$full-size/2.5);
        }
    }
    main>div{
        display: flex;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding: 30px;

    }
  
}